@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap);


.container_ourmarathons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 75%;

}
h2 {
    grid-row: 1 / 2;
  grid-column: 1 / 4;
  justify-content: center;
}