$yellow-color: #FDC332;
$swamp-color: #253131;
$green-color: #309565;
$white-color: #FFFFFF;

.body {
    background: $white-color;
    color: $swamp-color;

    h2 {
        color: $yellow-color;
    }
}

.content_container {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.previous {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        display: flex;
        justify-content: center;
        margin: 2%;
    }

    p {
        display: flex;
        justify-content: center;
        margin: 2%;
    }
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}



.previous_photos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.previous_info {
    width: 50%;
    border: $green-color;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 25%;
}

.future{
    margin-top: 25px;
}

.future_info {
    width: 50%;
    margin-left: 25%;
    border: $green-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.previous_video {
    display: flex;
    justify-content: center;

}

.future_info {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        display: flex;
        justify-content: center;
        margin: 2%;
    }

    p {
        display: flex;
        justify-content: center;
        margin: 2%;
    }
}

.future_photos {
    display: flex;
    justify-content: center;

}