$yellow-color: #FDC332;
$swamp-color: #253131;
$green-color: #309565;
$white-color: #FFFFFF;

body {
    font-family: 'Montserrat', Times, sans-serif;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content_container {
    max-width: 1440px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

/* private_office profile*/
.shapka {
    grid-template-columns: 1fr 3fr 1fr;
}

.private_office {
    display: grid;
    grid-template-areas: "prof__nav prof__text";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
    margin-left: 15%;

    .private_office__nav {
        grid-area: prof__nav;
        justify-self: start;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: $swamp-color;

            li a {
                display: block;
                color: $white-color;
                padding: 8px 0 8px 16px;
                text-decoration: none;
            }

            li a.active {
                background-color: $yellow-color;
            }

            li a:hover {
                background-color: $yellow-color;
            }

            li a:hover:not(.active) {
                opacity: 0.7;
            }
        }
    }

    .private_office__text {
        grid-area: prof__text;
        padding-left: 0.75rem;

        h2 {
            margin-bottom: 15px;
        }

        .private_office__border {
            padding: 20px;
            max-width: 600px;
            border: 1px solid rgb(219, 219, 219);
            border-radius: 5px;
        }

        .bold {
            font-weight: bold;
        }

        .text__personal {
            border-bottom: 1px solid rgb(219, 219, 219);
            padding-bottom: 20px;
        }

        .container {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

/* private_office_registration */

.registration__row {
    display: flex;
    flex-direction: row;

    padding-left: 1em;
}

.private_office__section {
    display: flex;
    flex-direction: column;
}

.registration__img {
    max-width: 70%;
}

.private_office-titlereg,
.registration__img,
.registration__title,
.registration__text {
    margin-bottom: 15px;
}

.registration__btn {
    max-width: 200px;
    line-height: 56px;
    background-color: #253131;

    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

/* private_office_result */

.registration__btn-result {
    width: 200px;
    line-height: 56px;
    background-color: #253131;

    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.form__result {
    margin-bottom: 0;
}

/* private_office_editing */

.form-row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;

    max-width: 510px;
}

.private_office-titleedit {
    margin-bottom: 15px;
}

.form__subtitle {
    margin-bottom: 15px;
    margin-top: 20px;
}

.form-row-radio {
    margin-bottom: 5px;
}

.form-row-radio>p {
    margin-bottom: 5px;
    margin-top: 10px;
}

.private_office__row {
    padding: 20px;

    max-width: 600px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.form__container {
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 20px;
}

.edit-btn {
    background-color: #253131;
    border: none;
    color: white;
}

@media screen and (max-width: 767px) {
    .private_office {
        margin-left: 5%;
        margin-right: 5%;
        grid-template-areas: "prof__text";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .private_office__nav {
        position: fixed;
        left: -200px;
        /* плавный переход смещения панели */
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        transition: left 0.3s;
        /* поверх других элементов */
        z-index: 2000;
    }

    .nav-toggle {
        position: absolute;
        left: 200px;
        padding: 0.5em;
        background: $swamp-color;
        color: $white-color;
        /* вид курсора */
        cursor: pointer;
        /* размер шрифта */
        font-size: 20px;
        line-height: 1;
        /* всегда поверх других элементов страницы */
        z-index: 2001;
        /* анимируем цвет текста при наведении */
        -webkit-transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
    }

    .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
    }

    .nav-toggle:hover {
        color: $yellow-color;
    }

    [id='nav-toggle'] {
        position: absolute;
        display: none;
    }

    [id='nav-toggle']:checked~.private_office__nav>.nav-toggle {
        left: auto;
        right: 0;
    }

    [id='nav-toggle']:checked~.private_office__nav {
        left: 0;
        box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
        overflow-y: auto;
    }

    [id='nav-toggle']:checked~.private_office__nav>.nav-toggle:after {
        content: '\2715';
    }

    .private_office__nav>ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .private_office__nav>ul>li {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
        -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
        -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
        transition: opacity .5s .1s, transform .5s .1s;
    }

    [id='nav-toggle']:checked~.private_office__nav>ul>li {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .private_office {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 1024px) {}