$yellow-color: #FDC332;
$swamp-color: #253131;
$green-color: #309565;
$white-color: #FFFFFF;


.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content_container {
    max-width: 1440px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

.shapka {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: rgba(37, 49, 49, 1);
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    a {
        text-decoration: none;
    }

    a:active {
        color: #FFFFFF;
    }

    .marathons:hover,
    .gallery:hover,
    .services:hover,
    .account:hover {
        text-decoration: underline;
    }

    .marathons {
        padding-right: 10px;
    }

    .account {
        color: rgba(253, 195, 50, 1);
        justify-content: center;
    }

    .logo {
        margin-left: 100px;
        margin-right: 30px;
        width: 200px;
        height: 60px;
    }

    .options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        align-items: center;

        a {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .personal_account {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: right;
        margin-right: 100px;
    }

    @media screen and (min-width: 501px) and (max-width: 985px) {
        font-size: 11px;
        line-height: 12px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        .logo {
            margin: 0;
            width: 125px;
        }

        .personal_account {
            margin: 0;
        }
    }

    @media screen and (min-width: 200px) and (max-width: 500px) {
        padding: 0;
        font-size: 12px;
        display: grid;
        grid-template-columns: 1fr 0.25fr;
        grid-template-rows: 1fr 0.25fr;

        .logo {
            width: 150px;
            height: 50px;
            margin: 0;
            align-content: center;
        }

        .logotype {
            display: grid;
            grid-column: 1/2;
            grid-row: 1/2;
            justify-content: end;
            margin-right: 25px;
        }

        .marathons {
            padding: 0;
        }

        .options {
            display: grid;
            grid-column: 1/2;
            grid-row: 2/2;
        }

        .personal_account {
            display: grid;
            margin: 0;
            grid-column: 2/2;
            grid-row: 2/2;
            text-align: center;
        }
    }
}

.title__ourmarathons {
    text-align: center;
    font-family: 'Montserrat', Times, sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.container__ourmarathons {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;

}

.container__ourmarathons-running--img,
.container__ourmarathons-cycling--img,
.container__ourmarathons-swimming--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container__ourmarathons-running,
.container__ourmarathons-cycling,
.container__ourmarathons-swimming {
    position: relative;
    font-family: 'Montserrat', Times, sans-serif;
    width: 30%;
    color: rgb(36, 26, 26);
    margin: 10px;
}

.button-running,
.button-cycling,
.button-swimming {
    position: absolute;
    font-size: 1.3vw;
    bottom: 1%;
    left: 22.5%;
    background-color: #253131;
    border: none;
    color: white;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.date-running,
.date-cycling,
.date-swimming {
    position: absolute;
    font-size: 1.3vw;
    top: 2%;
    right: 2%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    color: white;
    background-color: #253131;
}

@media screen and (max-width:1024px) {
    .container__ourmarathons {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
    }

    .container__ourmarathons-swimming,
    .container__ourmarathons-cycling,
    .container__ourmarathons-running {
        width: 30%;
    }

    .date-running,
    .date-cycling,
    .date-swimming,
    .button-running,
    .button-cycling,
    .button-swimming {
        font-size: 1.3vw;
    }
}

@media screen and (max-width:599px) {
    .container__ourmarathons {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        margin-left: 17%;
    }

    .container__ourmarathons-swimming,
    .container__ourmarathons-cycling,
    .container__ourmarathons-running {
        width: 75%;
    }

    .date-running,
    .date-cycling,
    .date-swimming,
    .button-running,
    .button-cycling,
    .button-swimming {
        font-size: 2.5vw;
    }
}

/*Галерея*/

.gallery__images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat (2, 200px);
}

.gallery__images>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__title {
    display: grid;
    justify-content: center;
    padding: 2vw;
    margin-bottom: 1vh;
    font-family: 'Montserrat', Times, sans-serif;
    color: $swamp-color;
}

.gallery__comments__images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat (2, 200px);
}

.gallery__comments__images>div>img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.gallery__comments__title {
    display: grid;
    justify-content: start;
    padding: 2vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-family: 'Montserrat', Times, sans-serif;
    color: $yellow-color;
}

@media screen and (max-width:576px) {
    .gallery__comments {
        display: none;
    }
}

/*form*/
.form {
    padding-top: 20px;
    padding-bottom: 20px;
    a {
        text-decoration: none;
    }
}

.form__content {
    display: none;
    max-width: 450px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 15px 25px;
}

.form__content-active{
    display: block;
}

.btns__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.btn__nav {
    max-width: 49%;
    min-width: 49%;
    height: 40px;
    background: #2531311a;
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: $swamp-color !important;
}

.btn__nav-active {
    background-color: $yellow-color;
    color: $white-color !important;
}

.form__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: $swamp-color;
}

.form__content input {
    margin-bottom: 10px;
    padding: 0 18px;
    width: 100%;
    height: 50px;
    border: 1px solid #2531311a;
    outline:none;
    font-family: 'Montserrat', Times, sans-serif;
    font-size: 16px;
}

.standart {
    background-color: #fff;
    color: $swamp-color;
}

.btn__form {
    background-color: $swamp-color;
    font-weight: 500;
    color: #fff;
}

.forgot__password {
    display: block;
    text-align: center;
    margin-top: 27px;
    font-size: 14px;
}

.social__networks {
    margin: 35px 0px 45px 0px;
    text-align: center;
}

.social__networks-text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
    color: $swamp-color;
}

.social__networks-icons a {
    margin-right: 43px;
}

.social__networks-icons a:last-child {
    margin-right: 0px;
}

.social__networks-icons img {
    width: 48px;
    height: 48px;
}

.form__copyright {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #253131b3;
}

.form__copyright a {
    color: $swamp-color;
}

@media screen and (max-width: 479px){
    .form__title{
        font-size: 24px;
    }
    .form__content input{
        font-size: 14px;
    }

    .social__networks-icons a {
        margin-right: 30px;
    }
}

/* services */
.services {
    display: grid;
    background: $yellow-color;
}

.services__image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: services__image;
    background: linear-gradient(to top left, $yellow-color 50%, white 50%);
    position: relative;
}

%image_width {
    width: 60%;
    object-fit: cover;
}

.image__item1,
.image__item2,
.image__item3 {
    @extend %image_width
}

.services__text {
    grid-area: services__text;
    align-self: center;
    color: $swamp-color;
    margin-right: 50px;
}

a {
    color: $swamp-color;
    text-decoration: none;
}

a:hover {
    color: $swamp-color;
    text-decoration: underline;
}

.services__text {
    h2 {
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
    }

    li {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .services {
        grid-template-areas: "services__text_small";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .services__image {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .services {
        grid-template-areas: "services__image services__text";
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 1fr;
    }

    .services__image {
        align-items: center;
        justify-content: center;
    }

    .image__item1,
    .image__item3 {
        display: none;
    }

    .image__item2 {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {

    .services {
        grid-template-areas: "services__image services__text";
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 1fr;
    }

    .services__image {
        align-items: flex-start;
        justify-content: space-between;
    }

    .image__item2 {
        width: 40%;
        position: absolute;
        right: 2vw;
        top: 7vw;
    }

    .image__item3 {
        margin-top: 20px;
    }
}
