$yellow-color: #FDC332;
$swamp-color: #253131;
$green-color: #309565;
$white-color: #FFFFFF;

body {
    font-family: 'Montserrat', Times, sans-serif;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.content_container {
    max-width: 1440px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

.grid-container-result {
    height: max-content;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 2rem;
    position: relative;
    background: #f9f9f9;
}

.grid-container-result .mobile-result {
    height: 30rem;
    max-width: 100%;
}

.grid-container-result-mobile {
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: end;
}

.grid-container-result-text {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: auto 1fr / 1fr;
    align-items: center;

}

.grid-container-result h3 {
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 35px;
    color: #253131;
}

.grid-container-result-text p {
    color: rgba(37, 49, 49, 0.7);
}