$yellow-color: #FDC332;
$swamp-color: #253131;
$green-color: #309565;
$white-color: #FFFFFF;


.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content_container {
    max-width: 1440px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

.title__ourmarathons {
    text-align: center;
    font-family: 'Montserrat', Times, sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.container__ourmarathons {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;

}

.container__ourmarathons-running--img,
.container__ourmarathons-cycling--img,
.container__ourmarathons-swimming--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container__ourmarathons-running,
.container__ourmarathons-cycling,
.container__ourmarathons-swimming {
    position: relative;
    font-family: 'Montserrat', Times, sans-serif;
    width: 30%;
    color: rgb(36, 26, 26);
    margin: 10px;
}

.button-running,
.button-cycling,
.button-swimming {
    position: absolute;
    font-size: 1.3vw;
    bottom: 1%;
    left: 22.5%;
    background-color: #253131;
    border: none;
    color: white;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.date-running,
.date-cycling,
.date-swimming {
    position: absolute;
    font-size: 1.3vw;
    top: 2%;
    right: 2%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    color: white;
    background-color: #253131;
}

@media screen and (max-width:1024px) {
    .container__ourmarathons {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
    }

    .container__ourmarathons-swimming,
    .container__ourmarathons-cycling,
    .container__ourmarathons-running {
        width: 30%;
    }

    .date-running,
    .date-cycling,
    .date-swimming,
    .button-running,
    .button-cycling,
    .button-swimming {
        font-size: 1.3vw;
    }
}

@media screen and (max-width:599px) {
    .container__ourmarathons {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        margin-left: 17%;
    }

    .container__ourmarathons-swimming,
    .container__ourmarathons-cycling,
    .container__ourmarathons-running {
        width: 75%;
    }

    .date-running,
    .date-cycling,
    .date-swimming,
    .button-running,
    .button-cycling,
    .button-swimming {
        font-size: 2.5vw;
    }
}

/*Галерея*/

.gallery__images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat (2, 200px);
}

.gallery__images>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__title {
    display: grid;
    justify-content: center;
    padding: 2vw;
    margin-bottom: 1vh;
    font-family: 'Montserrat', Times, sans-serif;
    color: $swamp-color;
}



.gallery__comments__images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat (2, 200px);
}

.gallery__comments__images>div>img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.gallery__comments__title {
    display: grid;
    justify-content: start;
    padding: 2vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-family: 'Montserrat', Times, sans-serif;
    color: $yellow-color;
}

@media screen and (max-width:576px) {
    .gallery__comments {
        display: none;
    }
}

/* services */
.services {
    display: grid;
    background: $yellow-color;
}

.services__image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: services__image;
    background: linear-gradient(to top left, $yellow-color 50%, white 50%);
    position: relative;
}

%image_width {
    width: 60%;
    object-fit: cover;
}

.image__item1,
.image__item2,
.image__item3 {
    @extend %image_width
}

.services__text {
    grid-area: services__text;
    align-self: center;
    color: $swamp-color;
    margin-right: 50px;
}

a {
    color: $swamp-color;
    text-decoration: none;
}

a:hover {
    color: $swamp-color;
    text-decoration: underline;
}

.services__text {

    h2 {
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
    }

    li {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 767px) {
    .services {
        grid-template-areas: "services__text_small";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .services__image {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .services {
        grid-template-areas: "services__image services__text";
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 1fr;
    }

    .services__image {
        align-items: center;
        justify-content: center;
    }

    .image__item1,
    .image__item3 {
        display: none;
    }

    .image__item2 {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {

    .services {
        grid-template-areas: "services__image services__text";
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 1fr;
    }

    .services__image {
        align-items: flex-start;
        justify-content: space-between;
    }

    .image__item2 {
        width: 40%;
        position: absolute;
        right: 2vw;
        top: 7vw;
    }

    .image__item3 {
        margin-top: 20px;
    }
}