body {
    font-family: 'Montserrat', Times, sans-serif;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

$bg-color: #FDC332;
$text-color: #253131;

/* services */
.services {
    display: grid;
    grid-template-areas: "services__image services__text";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    background: $bg-color;
    /* column-gap: 20px; */
}

.services__image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: services__image;
    background: linear-gradient(to top left, $bg-color 50%, white 50%);
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
}

%image_width {
    width: 65%;
    object-fit: cover;
}

.image__item1,
.image__item3 {
    @extend %image_width
}

.image__item2 {
    width: 35%;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 110px;
}

.image__item3 {
    margin-top: 20px;
}

.services__text {
    grid-area: services__text;
    align-self: center;
    color: $text-color;
}

.services__text {

    h2 {
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
    }

    li {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-top: 20px;
    }
}