
body {
  font-family: 'Montserrat', Times, sans-serif;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}
.title__ourmarathons {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  }
.container_ourmarathons {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  }
.container__ourmarathons-running{
  position: relative;
  width: 28vw;
  color: rgb(36, 26, 26);
  border: 1px solid #253131 ;
  }
  .button-running {
    position: absolute;
    bottom: 2px;
    left: 60px;
    background-color: #253131;
    border: none;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
  }
  .date-running {
    position: absolute;
    top:2px;
    right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #253131;
    border-radius: 12px;
  }
  .container__ourmarathons-cycling {
    position: relative;
    width: 28vw;
    color: rgb(36, 26, 26);
    border: 1px solid #253131 ;
    }
  .button-cycling {
    position: absolute;
    bottom: 2px;
    left: 60px;
    background-color: #253131;
    border: none;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
  }
  .date-cycling {
    position: absolute;
    top:2px;
    right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #253131;
    border-radius: 12px;
  }
  .container__ourmarathons-swimming{
    position: relative;
    width: 28vw;
    color: rgb(36, 26, 26);
    border: 1px solid #253131;
    }
    .button-swimming {
      position: absolute;
      bottom: 2px;
      left: 60px;
      background-color: #253131;
      border: none;
      color: white;
      padding: 10px;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 12px;
    }
    .date-swimming {
      position: absolute;
      top:2px;
      right: 5px;
      padding-left: 10px;
      padding-right: 10px;
      color: white;
      background-color: #253131;
      border-radius: 12px;
    }








